
form {
  background: lightgreen;
  text-align: center;
  width: 500px;
}

.name {
  display: inline-block;
  width: 40%;
}

textarea {
  display: block;
  width: 90%;
}

::-webkit-input-placeholder {
  color: white;
}

.name, .email, textarea {
  background-color: transparent;
  border: 1px solid white;
  padding: 1%;
  color: white;
}

.name, .email, textarea, button {
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5% auto;
}

button {
  color: lightgreen;
  padding: 1%;
  border: none;
  background: white;
}

.email {
  display: inline-block;
  width: 40%;
  margin-left: 10%;
}

